# Time Series with Pandas Exercises

In [1]:
# Import the necessary packages and data
import numpy as np
import pandas as pd
%matplotlib inline

df = pd.read_csv('monthly_milk_production.csv')

df.head()

      Date  Production
0  1962-01         589
1  1962-02         561
2  1962-03         640
3  1962-04         656
4  1962-05         727

### 1. What is the current data type of the Date column?

In [2]:
#Type your answer for question 1 here

### 2. Change the Date column to a datetime format

In [3]:
#Type your answer for question 2 here

### 3. Set the Date column to be the new index of the DataFrame

In [4]:
#Type your answer for question 3 here

### 4. Plot the DataFrame with a line plot. What do you see?

In [5]:
#Type your answer for question 4 here

#### Answer: the plot shows seasonality and an upward trend

### 5. Add a column called 'Month_number' that takes the month value from the index, indicated as a number

In [6]:
#Type your answer for question 5 here

### 6. Add a column called 'Month_name' that takes the name of the month from the index

In [7]:
#Type your answer for question 6 here

## For simplicity, we'll now delete the two month columns again, as we don't need them anymore.

In [8]:
#df = df.drop(['Month_number', 'Month_name'], axis=1)

### 7. What was the production value in March 1970?

In [9]:
#Type your answer for question 7 here

### 8. What was the percent increase in production from Sept 1963 to Sept 1973?

In [10]:
#Type your answer for question 8 here

### 9. What was the month with the most production after 1967?

In [11]:
#Type your answer for question 9 here

### 10. Which 3 months have the lowest production value?

In [12]:
#Type your answer for question 10 here

### 11. Give the average production value per year

In [13]:
#Type your answer for question 11 here

### 12. Give the total production value per year

In [14]:
#Type your answer for question 12 here

### 13. Plot out the yearly rolling mean on top of the original data

In [15]:
#Type your answer for question 13 here