<a href="https://colab.research.google.com/github/PippleNL/DSMediorSligro/blob/main/UnderstandingTheData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Initial data evaluation

In [1]:
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

In [2]:
# input the dataset
url = 'https://raw.githubusercontent.com/PippleNL/DSMediorSligro/main/data/house_prices_netherlands.csv'
df = pd.read_csv(url)
df.head(5)

         DATE  House Prices Netherlands
0  1971-01-01                   12.8348
1  1971-04-01                   11.5181
2  1971-07-01                    9.4702
3  1971-10-01                   10.3687
4  1972-01-01                   11.4196

In [3]:
df.describe()

       House Prices Netherlands
count                209.000000
mean                   6.596726
std                    9.375665
min                  -16.466600
25%                    1.275800
50%                    5.593300
75%                   11.368900
max                   45.674800

In [9]:
df.isnull().sum()

DATE                        0
House Prices Netherlands    0
dtype: int64

In [8]:
df = df.dropna(how='any')

In [14]:
df.duplicated().sum()

0

In [13]:
df = df.drop_duplicates()

In [22]:
df = df.rename(columns={"House Prices Netherlands": "HPN"})

In [23]:
df.columns

Index(['DATE', 'HPN'], dtype='object')

In [24]:
q_low = df["HPN"].quantile(0.01)
q_high = df["HPN"].quantile(0.99)

In [25]:
q_low, q_high

(-13.396849999999999, 37.721697999999954)

In [29]:
df = df[(df["HPN"] > q_low) & (df["HPN"] < q_high)]

In [30]:
df.describe()

              HPN
count  197.000000
mean     6.154441
std      7.958226
min    -11.174700
25%      1.468200
50%      5.264500
75%     10.841100
max     33.135200